.navbar-container {
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 10;
	box-shadow: 1px 7px 26px -2px rgba(230, 230, 230, 1);
	background-color: white;

	.nav-links {
		display: flex;
		align-items: center;
		list-style: none;
		margin-right: 5%;
		font-size: 1.2rem;

		.nav-link {
			margin: 0 2rem;
			text-decoration: none;
		}
	}
}
